antlr4-python3-runtime==4.8
bitarray==2.6.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
cmake==4.1.0
colorama==0.4.6
coverage==7.10.7
Cython==3.1.4
exceptiongroup==1.3.0
-e git+ssh://git@github.com/vireshkoli/Classroom-focused-Analysis-of-StreamSpeech.git@6e7b3ac15e06365437c1461029685386a0dfc2a6#egg=fairseq&subdirectory=fairseq
filelock==3.20.0
flake8==7.3.0
fsspec==2025.9.0
hydra-core==1.0.7
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.2
lxml==6.0.2
MarkupSafe==3.0.3
mccabe==0.7.0
mpmath==1.3.0
networkx==3.4.2
numpy==1.24.4
omegaconf==2.0.6
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pluggy==1.6.0
portalocker==3.2.0
pycodestyle==2.14.0
pycparser==2.23
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-flake8==1.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.32.5
sacrebleu==2.3.1
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
simuleval==1.1.0
six==1.17.0
soundfile==0.13.1
sympy==1.14.0
tabulate==0.9.0
TextGrid==1.6.1
threadpoolctl==3.6.0
tomli==2.3.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.5.2
tqdm==4.64.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
yt-dlp==2025.9.26
